*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    font-family: cursive;
}

body{
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    background-image: url("bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    margin:5px;
    letter-spacing: 2px;
    color:darkorchid;
    font-weight: bolder;
    text-decoration: underline;
}
.container{
    width:400px;
    height:min-content;
    background:linear-gradient(100deg,skyblue,white);
    padding: 10px;
    border-radius: 10px;
    border: 5px solid;
    border-radius: 25px;
}
.box{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

input{
    font-size: 23px;
    padding:6px;
    font-weight: bold;
    border-radius: 10px;
    width:250px;
    background-color: rgb(255, 255, 255);
    text-transform: capitalize;
    letter-spacing: 2px;
}
input::placeholder{
    color:rgb(142, 133, 133);
}
button{
    font-size: 25px;
    padding:8px;
    font-weight: bolder;
    border-radius: 30px;
    background:linear-gradient(100deg,rgb(92, 244, 92));
}
.weatherBody{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin:5px;
    display:none;
}
.day{
    width:40%;
    height:40%;
    border-radius: 10px;
    mix-blend-mode:multiply;
}
.weatherBox{
    margin-top: 2px;
    font-size: 20px;
    text-align: center;
}
.weatherBox .temperature{
    font-size: 50px;
    position: relative;
    font-weight: bolder;
}
.weatherBox .temperature sup{
    position: absolute;
    font-size: 25px;
}
.weatherBox .description{
    font-size: 25px;
    text-transform: capitalize;
    font-weight: 560;
    letter-spacing: 3px;
}                                
.weatherDetails{
    width:100%;
    display: flex;
    justify-content: space-between;
    margin:5px;
    font-size: 20px;
    padding:10px;
    margin-top: 20px;
}
.humidity{
    margin-left: 20px;
}
.wind{
    margin-right: 20px;
}
.weatherDetails i{
    font-size: 30px;
}
#humidity,#speed{
    font-size: 25px;
    font-weight: 700;
}
#para{
    font-size:20px;
    font-weight: 500;
}
#error{
    margin-top: 20px;
    margin-left: 50px;
    height:80%;
    width:70%; 
    display:none;
    border-radius: 25px;
}
@media (max-width:426px){
    .container{
        width:250px;
    }

    input{
    font-size: 18px;
    padding:3px;
    font-weight: bold;
    border-radius: 10px;
    width:150px;
    background-color: rgb(255, 255, 255);
    text-transform: capitalize;
    letter-spacing: 0;
    }

    .weatherDetails{
    width:100%;
    display: flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
    margin:5px;
    font-size: 20px;
    padding:10px;
    margin-top: 20px;
    }
    
    .humidity{
    margin-left: 0px;
    margin-bottom: 10px;
    }
    .wind{
    margin-right: 0px;
    margin-left: 10px;
    } 
}